<div class="container">
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-folder-open "></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-bell"></i><div class="minee"></div>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-check-circle"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-folder"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-times-circle"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-spinner fa-spin"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-play" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-ellipsis-h"></i>
  </button>
  
  
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-music"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-exclamation"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-recycle"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-search"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-download"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-user"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-users"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-sort-down"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-sort-up"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-sort"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-file-archive-o" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-list"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-th-list"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-th"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
  </button>