/*$white: white ;
$secondary: $white; */
/*.btn {
    position: relative;
}
.fa-arrow-up {
   font-size: 12px;
  }*/
/*.minee {
    position: absolute;
    top: 15%;
    right:26%;
    width: 9px;
    height:9px;
    background-color: red;
    border-radius: 50%;
}*/
