<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
  
<div style="text-align:center m-t-20" class="topmargin">
    
    <!-- <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Check me out
    </label> -->
  
  </div>
 
<!-- <button type="button" class="btn btn-success"><i class="fa fa-arrow-up"></i> Upload</button>
<div class="btn-secondary container-fluid">OK</div> -->
<!-- <app-list-item></app-list-item> -->
<!-- <app-list></app-list>  -->

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col ">
       <!--<div class="uploder pull-left">
            <input id='fileid' type='file' hidden/>
             
            <input id='buttonid' class="btn btn-success  m-t-20" type='button' value='Upload MB' /> 
        </div>-->
         
        <ul class="topmenu float-left float-lg-right">
         
          <li><div class="user"><img src="../assets/images/1.jpg" class="rounded-circle"  alt="user">Ahmad Hanini</div></li>
          <li>
              <a href="#" class="bellmain"><i class="fa fa-bell"></i><div class="minee" ></div></a>
        </li>
         </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="buttonsmain">
          <li>3 files selected</li>
          <li><a href=""><button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
              <i class="fa fa-folder-open "></i>
            </button></a></li>
          <li><a href=""> 
            <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
              <i class="fa fa-recycle"></i>
            </button></a></li>
          <li><a href="">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
                  <i class="fa fa-users"></i>
                </button>
          </a></li>
          <li><a href="">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Move Folder">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
          </a></li>
        </ul>
        <app-test-data></app-test-data>
        
          <!-- <app-list></app-list> -->
      </div>
    </div>
  </div>
</div>


</div>
